@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@500&family=Inter:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;500&family=Inter:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500&family=Inter:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500&family=Hind+Vadodara:wght@300;400;500&family=Inter:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');           

body{
    margin: 0px;
    padding: 0px;
}


@keyframes rotateImg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

