@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@500&family=Inter:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;500&family=Inter:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500&family=Inter:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500&family=Hind+Vadodara:wght@300;400;500&family=Inter:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');

/*:root{
    --cor-primaria: 
}*/
                

body{
    margin: 0px;
    padding: 0px;
}

.header{
    background-image: url("../imagens/BackgroundHeader.svg");
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 20px;
}

.menu{
    margin: 0px;
    width: 800px;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.menu__list{
    display: flex;
    list-style: none;
    gap:20px;
    width: 500px;
}

.menu__list__item{
    width: 100px;
}

.menu__list__item__link{
    color: #FFFFFF;
    font-size: 23px;
    font-family: 'Segoe UI';
    text-decoration: none;
}

.header__section {
    display: flex;
    justify-content: space-between;
    width: 1700px;
}

.section__div{
    padding-left: 90px;
    width: 700px;
    margin-top: 50px
}

.div__tittle{
    color: #FFFFFF;
    font-family: 'Hind Vadodara';
    font-weight: 700;
    font-size: 60px;
    margin: 10px 0px;
}

.div__tittle__paragraph{
    font-family: 'Hind Vadodara';
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
    margin: 10px 0px;
}

.div__link{
    display: flex;
    width: 407px;
    height: 70px;
    background-color: #009A47;
    border-radius: 16px;
    align-items: center;
    padding: 5px 20px;
    gap: 10px;
    margin-top: 30px;
}

.link__icon{
    width: 36px;
    height: 36px;

}

.link__paragraph{
    font-weight: 400;
    font-size: 20px;
    font-family: 'Hind Vadodara';
    color: #FFFFFF;
}


.first__section{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section__list{
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0px;
}

.section__list__item{
    width: 416px;
    height: 234px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    margin: 40px;
}

.item__title{
    color: #331B3B;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Hind Vadodara';
}

.item__description{
    color: #331B3BA8;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Hind Vadodara';
}


.section__sobre_nos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
}

.text_div__paragrath{
    width: 580px;
    font-family: 'Hind Vadodara';
    font-weight: 500;
    font-size: 24px;
    color: #331B3BA8;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 207px;
}

.footer_paragrath{
    font-family: 'Cairo';
    font-weight: 500;
    font-size: 16px;
    color: #878787 ;
}